@model IEnumerable<ControleContas.Application.ViewModels.CategoriasViewModel>

@{
    ViewData["Title"] = "Gerenciamento de Categorias";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a asp-action="Cadastrar" title="Cadastrar" class="btn btn-primary">
            <span>Cadastrar</span>
        </a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead style="font-weight: bold;">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Id)</th>
                        <th>@Html.DisplayNameFor(model => model.Nome)</th>
                        <th>@Html.DisplayNameFor(model => model.Cor)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.Nome
                            </td>
                            <td style="background-color: #@item.Cor;">
                                @item.Cor
                            </td>
                            <td>
                                <a asp-action="Editar" asp-route-id="@item.Id" title="Editar" class="btn btn-warning">
                                    <span>Editar</span>
                                </a>

                                <a asp-action="Detalhes" asp-route-id="@item.Id" title="Detalhes" class="btn btn-info">
                                    <span>Detalhes</span>
                                </a>

                                <a asp-action="Excluir" asp-route-id="@item.Id" title="Excluir" class="btn btn-danger">
                                    <span>Excluir</span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>