@model ControleContas.Application.ViewModels.DashboardViewModel

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="table-responsive">
            @if (Model != null && (Model.Calendario.Any() && Model.Lancamentos.Any()))
            {
                <table class="table table-striped">
                    <thead style="font-weight: bold;">
                        <tr>
                            <th>Lançamento</th>
                            @foreach (var calendario in Model.Calendario)
                            {
                                <th>
                                    @calendario.Descricao
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Lancamentos)
                        {
                            <tr>
                                <td style="background-color:@item.Contas.Cor">
                                    @item.Descricao
                                </td>
                                @foreach (var calendario in Model.Calendario)
                                {
                                    var parcela = item.Parcelas.Where(x => x.AnoCobranca == calendario.Ano && x.MesCobranca == calendario.Mes).FirstOrDefault();
                                    @if (parcela != null)
                                    {
                                        <td style="background-color:@item.Categorias.Cor">
                                            @parcela.ParcelaValor.ToString("C")
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            -
                                        </td>
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                @:-
            }
        </div>
    </div>
</div>

<hr />
<h2>Legendas</h2>
<br />
<div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        Categorias:
    </div>
    @foreach (var item in Model.Categorias)
    {
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <div style="width: 15px;height:15px;border:1px solid #000;background-color:@item.Cor;"></div> @item.Nome
        </div>
    }
</div>
<br />
<div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        Contas:
    </div>
    @foreach (var item in Model.Contas)
    {
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <div style="width: 15px;height:15px;border:1px solid #000;background-color:@item.Cor;"></div> @item.Nome
        </div>
    }
</div>
